FRONTEND_DOMAIN=http://localhost:8080
BACKEND_DOMAIN=http://localhost:3000

# Recipients for admin emails (comma-separated)
# ONLY FOR DEVELOPMENT! Ideally, set to the developer's email address
EMAIL_ADMIN_ADDRESSES=info@choreo-planer.de
