<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <!-- HTML Meta Tags -->
    <title>Choreo Planer | Das kostenlose Online-Tool für Choreo-Sport</title>

    <!-- Facebook Meta Tags -->
    <meta data-vmid="og:type" property="og:type" content="website" />
    <meta
      data-vmid="og:title"
      property="og:title"
      content="Choreo Planer | Das kostenlose Online-Tool für Choreo-Sport"
    />

    <!-- Twitter Meta Tags -->
    <meta
      data-vmid="twitter-card"
      name="twitter:card"
      content="summary_large_image"
    />
    <meta
      data-vmid="twitter:title"
      name="twitter:title"
      content="Choreo Planer | Das kostenlose Online-Tool für Choreo-Sport"
    />

    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <link rel="prefetch" href="/Icon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://cdn.jsdelivr.net" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
    />
  </head>
  <body>
    <div id="app"></div>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>
  </body>
</html>
